<div class="content">
    <div class="titleplanet"><h2>Saturn</h2></div>
    <div class="contentplanet"><p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id possimus iste tenetur ex repellendus nostrum rem. Maiores asperiores doloremque incidunt quod, quibusdam voluptas numquam, ea sit eaque delectus, placeat veniam.Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id possimus iste tenetur ex repellendus nostrum rem. Maiores asperiores doloremque incidunt quod, quibusdam voluptas numquam, ea sit eaque delectus, placeat veniam.</p></div>
</div>
