<div class="content">
    <div class="titleplanet"><h2>Jupiter</h2></div>
    <div class="contentplanet"><p>Jupiter is the largest planet in the Solar System, both in diameter and in mass, and is the fifth closest to the Sun. Jupiter is composed mainly of hydrogen, with a quarter of its mass being composed of helium, although helium is only one tenth of the total number of molecules. The planet may also have a rocky core composed of heavier elements, although, like the other giant planets, it does not have a well-defined solid surface.</p></div>
    <p class="search">Search: <a href="https://pt.wikipedia.org/wiki/J%C3%BApiter_(planeta)">Wikepedia</a> </p>
    <div class="more">
        <div class="radius">
            <p>Radius</p>
            <h3>142 984 Km</h3>
        </div>
        <div class="revolution">
            <p>Revolution Time</p>
            <h3>9,8 Hours</h3>
        </div>
    </div>
</div>
