.topbar{
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:#fff;
    border-bottom: 1px solid #6e6e92;
}

.title{
    margin-left: 2vw;
}

.planets{   
    list-style: none;
    height: 9vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size:2vh;
    font-weight: 300;
    color:#fff;
}

.planets li{
    cursor: pointer;
    margin: 0 1vh 0 1vh;
}

.planets li:hover{
    color: #7d79f6;
}