<div class="content">
    <div class="titleplanet"><h2>Uranus</h2></div>
    <div class="contentplanet"><p>Uranus is the seventh planet from the Sun. Its name is a reference to the Greek god of the sky, Uranus, who, according to Greek mythology, was the great-grandfather of Ares (Mars), grandfather of Zeus (Jupiter) and father of Cronus (Saturn). It has the third-largest planetary radius and fourth-largest planetary mass in the Solar System. Uranus is similar in composition to Neptune.</p></div>
    <p class="search">Search: <a href="https://en.wikipedia.org/wiki/Uranus">Wikepedia</a> </p>
    <div class="more">
        <div class="radius">
            <p>Radius</p>
            <h3>25,362 Km</h3>
        </div>
        <div class="revolution">
            <p>Revolution Time</p>
            <h3>30,687 Days</h3>
        </div>
    </div>
</div>
