.content{
    margin: 10vh 3vw 0 8vw;
    height: 60vh;
    width: 35vw;
}

.titleplanet{
    display: flex;
    justify-content: center;
    font-size: 6vh;
    color: #fff;
}

.contentplanet{
    margin-top: 3vh;
    color: #6e6e92;
}