<div class="content">
    <div class="titleplanet"><h2>Mercury</h2></div>
    <div class="contentplanet"><p>Mercury is the smallest and innermost planet in the Solar System, orbiting the Sun every 87,969 Earth days. Mercury is the planet that spends most of its time being closest to Earth, as Earth spends most of its time on the opposite side of Venus' orbit. However, compared to other planets, little is known about Mercury, as ground-based telescopes reveal only an illuminated crescent with known details.</p></div>
    <p class="search">Search: <a href="https://pt.wikipedia.org/wiki/Merc%C3%BArio_(planeta)">Wikepedia</a> </p>
    <div class="more">
        <div class="radius">
            <p>Radius</p>
            <h3>4879,4 Km</h3>
        </div>
        <div class="revolution">
            <p>Revolution Time</p>
            <h3>58,646 Days</h3>
        </div>
    </div>
</div>
