/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@keyframes change{
    from{
        opacity: 0;
        transform: scale(0.9);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    background-color:#070625;
}

.content{
    margin: 2vh 3vw 0 8vw;
    height: 60vh;
    width: 35vw;
    animation-name: change;
    animation-duration: 1s;
}

.titleplanet{
    display: flex;
    justify-content: center;
    font-size: 6vh;
    color: #fff;
    animation-name: change;
    animation-duration: 2s;
}

.contentplanet{
    margin-top: 3vh;
    color: #6e6e92;
}
.contentbody{
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search{
    margin-top: 2vh;
    color: #3c3c5c;
}

.more{
    margin-top: 3vh;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;  
}

.radius{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 5vw;
    border: 1px solid #6e6e92;
    height: 10vh;
    width: 15vw;
    animation-name: change;
    animation-duration: 2.5s;
}

.radius p{
    font-size: 80%;
    color: #6e6e92;
}

.revolution{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 5vw;
    border: 1px solid #6e6e92;
    height: 10vh;
    width: 15vw;
    animation-name: change;
    animation-duration: 3s;
}

.revolution p{
    font-size: 80%;
    color: #6e6e92;
}

img{
    margin-left: 12vw;
    width: 40vw;
    height: 40vh;
}