<div class="content">
    <div class="titleplanet"><h2>Neptune</h2></div>
    <div class="contentplanet"><p>The planet is formed by a small rocky core around which there is a layer possibly formed by water, ammonia and methane, on which its turbulent atmosphere is located, made up predominantly of hydrogen and helium. In fact, notable weather events take place on Neptune.</p></div>
    <p class="search">Search: <a href="https://translate.google.com.br/?hl=pt-BR&sl=pt&tl=en&text=O%20planeta%20%C3%A9%20formado%20por%20um%20pequeno%20n%C3%BAcleo%20rochoso%20ao%20redor%20do%20qual%20encontra-se%20uma%20camada%20formada%20possivelmente%20por%20%C3%A1gua%2C%20am%C3%B4nia%20e%20metano%20sobre%20a%20qual%20situa-se%20sua%20turbulenta%20atmosfera%2C%20constitu%C3%ADda%20predominantemente%20de%20hidrog%C3%AAnio%20e%20h%C3%A9lio.%20De%20fato%2C%20not%C3%A1veis%20eventos%20clim%C3%A1ticos%20ocorrem%20em%20Netuno.&op=translate">Wikepedia</a> </p>
    <div class="more">
        <div class="radius">
            <p>Radius</p>
            <h3>49 528 Km</h3>
        </div>
        <div class="revolution">
            <p>Revolution Time</p>
            <h3>0,6713 Days</h3>
        </div>
    </div>
</div>

